@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  width: 100vw;
}

.sale-banner {
  height: 3.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
  background-color: #1b293b;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding: 2rem;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding-right: 1rem;
}

a:link {
  text-decoration: none;
}
