@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  width: 100vw;
}

.sale-banner {
  height: 3.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
  background-color: #1b293b;
  color: white;
  font-family: "Oswald", sans-serif;
}

.icons {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 5.5rem;
  padding: 2rem;
}

.nav-links ul li {
  display: none;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.login-shoppingCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.started {
  margin-right: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.Trade {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.banner {
  background-image: url(img/coffee.jpeg);
  /* width: 100%; */
  width: 100vw;
  height: 72vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding-top: 5.5rem;
  padding-left: 2rem;
}

.banner-header {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: white;
}

.banner-info {
  /* still acting like block */
  display: inline;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.btn {
  color: white;
  display: inline-block;
  /* had to do this because banner-button, banner-info, banner-header  were acting like a block element despite display:inline */
  background-color: red;
  text-align: center;
  /* font size isn't working. Can't make it smaller */
  /* font-size: 0.2rem; */
  padding: 0.3rem 0rem;
  border-radius: 0.5rem;
  width: 16rem;
}

.btn:visited {
  color: white;
}

.sec-2 {
  width: 100%;
  /* height: 72vh; */
  display: flex;
  flex-wrap: wrap;
}

.phone-img {
  width: 100vw;
  height: 100%;
}

.sec2-text {
  display: flex;
  flex-direction: column;
  padding: 9rem;
}

.sec2-header {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

.sec2-content {
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
}

.sec-3 {
  width: 100vw;
  background-color: #f9f2e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.sec3-headline {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.certificate-container {
  display: flex;
  align-items: center;
}

hr {
  width: 4.5rem;
  height: 0.2rem;
  background-color: black;
  margin-left: 0.5rem;
}

.fa-certificate {
  margin-left: 0.5rem;
}

.sec-4 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-4-header {
  text-align: center;
}

.sec-4-headline {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sec-4-header-content {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.sec-4-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.card {
  width: 40%;
  border-radius: 1rem;
  height: 100%;
}

.coffee-bag-img {
  height: 50%;
  width: 100%;
}

.cb-content-container {
  border: 1px solid rgb(202, 202, 202);
  padding: 2rem;
}

.cb-headline {
  font-size: 2rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.cb-content {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.price {
  font-size: 2.5rem;
  font-weight: bold;
}

.cb-button {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 700px) {
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding-right: 1.5rem;
  }

  .banner-header {
    font-size: 4rem;
  }

  .banner-content {
    padding: 11rem;
  }

  .btn {
    padding: 1rem;
    width: 20rem;
  }

  .banner-info {
    font-size: 2rem;
    padding-bottom: 3rem;
  }

  .sec2-header {
    font-size: 4rem;
  }

  .sec2-content {
    font-size: 2rem;
  }

  .phone-img {
    flex: 1.5;
  }

  .sec2-text {
    flex: 1;
  }

  .sec-3 {
    padding: 8rem;
  }

  .sec3-headline {
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }

  hr {
    width: 12rem;
  }
}
